@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Carattere&family=Ephesis&display=swap');

.message p{
    margin:0;
    padding: 2px;
    font-weight: bold;
    color: black;
}

