@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Carattere&family=Ephesis&display=swap');

.home{
    height: 40em;
    position: relative
}

.welcome-user{
    margin:0;
    position:absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Carattere', cursive;
    font-size: 80px;
    text-shadow: 1px 1px 2px black;
    color:white;
    font-weight: bold;
}

.get-started{
    margin:0;
    position:absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    color:cadetblue;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.get-started:hover{
    color:cadetblue;
}

#bg-video{
    border-radius:50px;
    height:100%;
    width:100%;
    -o-object-fit: cover;
    object-fit:cover;
    opacity: 0.9;
    margin-top:15px;
    padding:0px;
    
}
